<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Venta de Productos para Fiestas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
</head>

<body>
  <!-- Hero section -->
  <section class="page-section">
    <div class="hero-container">
      <img class="hero-image" src="./assets/new.png" alt="Hero Image">
      <div class="hero-text">
        <h1 class="subtitulod">Haz de cada fiesta un momento especial</h1>
        <h2 class="section-heading">Encuentra lo mejor aquí</h2>
      </div>
    </div>
  </section>
<!-- Welcome section -->
<section class="welcome-section text-center py-5 bajo">
  <div class="container">
    <h2 class="subtitulo">¡Lupita regalos y algo mas!</h2>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</section>


  <!-- Call to action section -->
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="https://partycitymx.vtexassets.com/assets/vtex.file-manager-graphql/images/8bc876c1-1656-49c1-9a43-2b68c3ff27a8___5f384fb03e7469ebc13a0ff2cf1186e3.jpg" alt="Happy Birthday" width="100%">
      </div>
      <div class="col-md-5">
        <p class="subtitulo">¡El cumpleaños más feliz comienza aquí!</p>
        <p>Has tu cumpleaños una celebración inolvidable</p>
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- Categories section -->
  <div class="container">
    <h1 class="subtitulo">Compra por ocasión</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="product-card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" alt="Articulos para fiestas">
          <h5 class="card-title">Articulos para fiestas</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product-card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" alt="Cumpleaños y celebraciones">
          <h5 class="card-title">Cumpleaños y celebraciones</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product-card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp" alt="Manualidades">
          <h5 class="card-title">Manualidades</h5>
        </div>
      </div>
    </div>
  </div>
  <br>


  <!-- Footer -->
  <footer class="footer">
    <p>Todos los derechos reservados &copy; 2023 | Venta de Productos para Fiestas</p>
  </footer>
</body>

</html>
